<html>
<style>

.hellostutor {
  font-size: 35px;
  padding: 50px;
  margin-top:10px;
  color:white;
  opacity:0.8;
}

.form {
  padding:30px;
  background-color: white;
  opacity:0.8;
  width:250px;
  border-radius:30px;
  font-size:30px;

}

html {
  background-image: url(http://res.cloudinary.com/codaisseur/image/upload/v1460728423/3_yrmrev.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

</style>
<body>

<center>
<div class="hellostutor"> HELLO NEW <i>STUTOR</i>, PLEASE FILL IN YOUR INFO SO PEOPLE KNOW WHO YOU ARE!</div>

<div class="form"><%= render "form" %></div>
</center>
</body>
</html>
