header {
   height: 135px;
   background: #e63d02;
   display:inline-flex;;
   width: 100%;
   text-align: center;
}

.textheader {
 display: inline-block;;
 font-size:40px;
 color: #FFFFFF;
 font-family: "Brandon Grotesque", sans-serif;
 flex: 1;
 text-align: center;
 margin-right:50px;
 margin-top:40px;
}

.textfooter {
 display: inline-block;;
 font-size:20px;
 color: #FFFFFF;
 font-family: "Brandon Grotesque", sans-serif;
 flex: 1;
 text-align:right;
 margin-right:50px;
 margin-top:35px;
}

footer {
  height: 110px;
  background: #1C5D6F;
  display: flex;
  font-family: "Brandon Grotesque", sans-serif;
  color:white;
}

.logo {
  position:relative;
  left:50px;
  padding-top:10px;
}

.logofooter {
  position:relative;
  left:50px;
}

body {
  margin: 0;
  font-family: "Brandon Grotesque", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction:column;
  min-height: 10vh;
}

section.content {
  flex: 1;
  font-family: "Brandon Grotesque", sans-serif;
  text-align: center;
}

.headercontent {
  left:30%auto;

}
