header {
   height: 250px;
   background: #e63d02;
   display:inline-flex;;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   width: 100%;
}

.headertext {
 color:white;
 background: #e63d02;
 display: inline-block;;
 font-size:70px;
 font-family: "Brandon Grotesque", sans-serif;
 flex: 1;
 margin-left: 50px
}
