<!DOCTYPE html>
<html>
<head>
  <title>Stutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <center>
    #ADDLINKS
    <div class="headertext">Home / </div>
    <div class="headertext">All Stutors / </div>
    <div class="headertext">Contact </div>
  </center>
</header>

<%= yield %>


<footer class="footer">
    <div class="footertext">Home / </div>
    <div class="footertext">All Stutors / </div>
    <div class="footertext">Contact </div>
</footer>
</body>
</html>
